<mat-toolbar color="primary" class="mat-elevation-z10">
  <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <button (click)="logheck()" > <span > <a></a>TRMS-APP</span></button>
 

  <div class="spacer"></div>

  <button mat-button >Submit Request</button>
  <span > 
  
  </span>
  
     <div *ngIf="!loggedInUser" >
  <a mat-raised-button color="accent" (click)="logIn()">Login
  </a></div>
      
      <div *ngIf="loggedInUser "  class="example-button-row" >
      <a mat-raised-button color="accent" (click)="logOut()">Logout
      </a></div>
       
       
    
  

   
 
  
  

</mat-toolbar>